#a {
  background-color: red;
}

#b {
  background-color: green;
}

#c {
  background-color: blue;
}

#d {
  background-color: purple;
}

#e {
  background-color: orange;
}

#f {
  background-color: yellow;
}

#g {
  background-color: indigo;
}

#h {
  background-color: brown;
}

#i {
  background-color: pink;
}

#j {
  background-color: tan;
}




